.dark .color-effect {
  /* animate the font color over 1 second, and repeat the animation twice */
  animation: darkFontColorAnimation 250ms 2;
}

@keyframes darkFontColorAnimation {
  0% {
    color: inherit;
  }

  50% {
    color: white;
  }

  100% {
    color: inherit;
  }
}

.light .color-effect {
  /* animate the font color over 1 second, and repeat the animation twice */
  animation: lightFontColorAnimation 250ms 2;
}

@keyframes lightFontColorAnimation {
  0% {
    color: inherit;
  }

  50% {
    color: black;
  }

  100% {
    color: inherit;
  }
}

.progress-effect {
  animation: infiniteProgressSpinner 2s ease-in-out infinite;
}

@keyframes infiniteProgressSpinner {
  0% {
    transform: translateX(-100%);
  }

  15% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(0);
  }

  85% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}
