@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

/* font */

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.dark .placeholder::placeholder {
  /* text-gray-500 */
  color: #6b7280;
}

.light .placeholder::placeholder {
  /* text-gray-400  */
  color: #9ca3af;
}

/* background */

.dark .background {
  background-color: black;
}

.light .background {
  background-color: white;
}

.dark .background-overlay {
  /* gray-900 */
  background-color: #111827;
  /* gray-50 */
  color: #f9fafb;
}

.light .background-overlay {
  /* gray-50 */
  background-color: #f9fafb;
  /* gray-900 */
  color: #111827;
}

/* border */

.dark .border-background {
  border-color: black;
}

.light .border-background {
  border-color: white;
}

.dark .border-color {
  /* gray-700 */
  border-color: #374151;
}

.light .border-color {
  /* gray-200 */
  border-color: #e5e7eb;
}
